*:focus{
	outline-style: none;
}
.signup-details {
	position: relative;
	top: 490px;
	left: 75px;
	height: 94px;
	width: 1120px;
	border-radius: 12px;
	background-color: #FFFFFF;
	box-shadow: -4px 4px 24px 0 rgba(0,0,0,0.2);
}

.input-field1, .input-field2, .input-field3{
	height: 65px;
	width: 256px;
	margin-top: 12px;
	margin-left: 20px;
	padding-left: 10px;
	color: #0F1E36;
	font-size: 16px;
	font-weight: 600;
	border: 2px #FFFFFF;
	box-shadow:2px 0px 0px rgba(28,42,69,0.3);
}

.get-started {
	height: 94px;
	width: 292px;
	margin-left: 0px;
	background-color: #25D782;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
	line-height: 30px;
	border: 2px #25D782;
	border-radius: 0px 12px 12px 0px;
	text-align: center;
}