.bg_imgs {
  width: 100%;
  height: 550px;
  margin-top: 2px;
  background-image: url('../../imgs/pttrn.svg'), url('../../imgs/map.svg');
  background-position: right bottom, center top;
  background-repeat: no-repeat, repeat;
};

