.save-more-worry-les {
	height: 48px;
    width: 100%;
    position: relative;
    top: 70px;
	color: #0F1E36;
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	text-align: center;
}

.we-put-a-lot-into-ma {
	height: 90px;
    width: 692px;
    position: relative;
    top: 70px;
    left: 300px;
	color: #0F1E36;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

.top-div {
	height: 412px;
    width: 1074px;
    position: relative;
    top: 150px;
    left: 110px;
}

.left-dive2 {
	height: 177px;
    width: 452px;
    position: relative;
    top: 93px;
}
.save-thousands-in-co {
	height: 76px;
	width: 452px;
	color: #0F1E36;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0.2px;
	line-height: 38px;
}

.regular-mutual-funds {
	height: 84px;
	width: 432px;
	color: #0F1E36;
	font-size: 16px;
    line-height: 28px;
    display: inline-block;
}

.right-div2{
	height: 411px;
    width: 530px;
    position: relative;
    top: -180px;
    left: 540px;
    background-image: url('../../imgs/graph-bg.svg');
}

.Commissions{
    position: relative;
    top: 40px;
    left: 40px;
}

.left-div3 {
	height: 493px;
    width: 500px;
    position: relative;
    top: -125px;
    left: -30px;
    background-image: url('../../imgs/chat-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.chat {
    position: relative;
    top: 40px;
    left: 40px;
}

.right-div3{
    height: 212px;
    width: 452px;
    top: -500px;
    position: relative;
    left: 580px;
}

.get-guidance-from-yo {
	height: 81px;
	width: 452px;
	color: #0F1E36;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 0.2px;
	line-height: 38px;
}

.sometimes-you-need-t {
	height: 115px;
	width: 452px;
	color: #0F1E36;
	font-size: 16px;
	line-height: 28px;
}